.logo-image {
  height: 55px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 16px;
  margin-right: 55px;
  border-radius: 20px;
}

.top-right {
  position: absolute;
  right: 15px;
  top: 15px;
}

.box-shadow {
  background: rgb(0 0 0 / 0%);
  border: none;
  box-shadow: 19px 6px 60px 3px #00000087, -20px -7px 20px 4px #ffffff2e, -5px -5px 20px 4px #ffffff2e;
}
